
<div class="cotainer">
    <div class="cards">
       <h1>Id-cards</h1>
       <input type="text" [(ngModel)]="term" (keyup)="filter()" placeholder="Enter to item search">
       
       <select [(ngModel)]="column">
        <option>Name</option>
        <option>Phone</option>
        <option>City</option>
        <option>DOB</option>
       </select>
       <select [(ngModel)]="order">
        <option>asc</option>
        <option>desc</option>
       </select>
       <button (click)="sort()">Sort</button>


       <select [(ngModel)]="limit">
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
       </select>
      
       <select [(ngModel)]="page">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>

     <button (click)="pagination()">Pagination</button>

    </div>
<div id="id" *ngFor="let detail of id_cards; let i=index ">
    <div class="header">
        <div class="header-left">
            <img src="https://loremflickr.com/640/480/abstract" width="119px" height="75px">
        </div>
        <div class="header-right">
            <label>{{detail.school_name}}</label>
        </div>
    </div>
    <div class="body">
        <div class="body-left">
        <label>Name:{{detail.name}}</label><br>
        <label>Phone:{{detail.phone}}</label><br>
        <label>City:{{detail.city}}</label><br>
        <label>DOB:{{detail.dob}}</label>
        </div>
        <div class="body-right"> 
            <img class="body-img"  src= "{{detail.profile_picture}}">
        </div>
    </div>
    <div class="footer">
        <div class="top">
            <label>school_city:{{detail.school_city}}</label>
            <label>school_pin:{{detail.school_pin}}</label>
        </div>
        <div class="button"  *ngFor="let card of id_cards">
            <button routerLink="/dashboard/id-carddetails/{{card.id}}" class="btn btn-info">View</button>
            <button (click)="('')" class="btn btn-light">Edit</button>
            <button (click)="('')" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
</div>