<h1>Accounts</h1>
<input type="text" [(ngModel)]="term" (keyup)="filter()" placeholder="Enter to search">

<select [(ngModel)]="column">
    <option>account name</option>
    <option>available_balance</option>
    <option>account_number</option>
    <option>city</option>
    <option>profile_picture</option>
    <option>ifsc_code</option>
    <option>Actions</option>
    
</select>

<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="sort()">Sort</button>

<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
</select>

<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>

<button (click)="pagination()" >Pagination</button>



<span><button routerLink="/dashboard/createaccounts" class="btn btn-info">Create Accounts</button> </span>
<!-- this button for createaccounts component -->



<table class="table table-dark">
    <thead>
    <tr>
        <th>S No</th>
        <th>account name</th>
        <th>available_balance</th>
        <th>account_number</th>
        <th>city</th>
        <th>profie_picture</th>
        <th>ifsc_code</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let account of accounts;let i=index">
        <td>{{i+1}}</td>
        <td>{{account.account_name}}</td>
        <td>{{account.available_balance}}</td>
        <td>{{account.account_number}}</td>
        <td>{{account.city}}</td>
        <td> {{account.profie_picture}}</td>
        <td>{{account.ifsc_code}}</td>

        <td>
            <button (click)="delete(account.id)" class="btn btn-danger" style="color: aliceblue;">Delete</button>
        </td>
    </tr>
</tbody>
</table>
