.container{
    width: 100%;
    height: 100%;
    background-color: rgb(206, 96, 96);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(151, 203, 207);
    width: 200px;
    height: 500px;
    gap: 20px;
    margin: 10px;
    overflow: auto;
}
img{
    width:100%;
    height: 700px
}
.para{
    color: rgb(12, 11, 11);
    text-align: left;
    padding: 5px;
}
.price{
    color: red;
}


