<div class="parent">
    <div class="left">
        <div class="header">
            <h1 class="website">My Website</h1>
        </div><hr>
       <div class="menu">
        <h3 routerLink="/Home">Home</h3>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="Data Binding">Data Binding</h3>
        <h3 routerLink="Calculator">Calculator</h3>
        <h3 routerLink="Rectangle">Rectangle</h3>
        <h3 routerLink="Circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <h3 routerLink="EMI">EMI</h3>
        <h3 routerLink="Fahrenheit">Fahrenheit</h3>
        <h3 routerLink="Simple Interest">Simple Interest</h3>
     </div>
        <button routerLink="Logout" class="Logout">Logout</button>

    </div>
    <div class="right">
        <router-outlet> </router-outlet>
    </div>
</div>

