.parent {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    overflow: auto;
}
.left{
  width: 20%;
  height: 100%;
  background-color: rgb(120, 221, 162);  
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(230, 95, 95);
    overflow: auto;
}