<div class="parent">
    <div class="left">
        <h1>Dashboard</h1> <br>
        <h5 routerLink="Directives">Directives</h5>
        <h5 routerLink="Employee">Employee</h5>
        <h5 routerLink="Vehicle">Vehicle</h5>
        <h5 routerLink="Accounts">Accounts</h5>
        <h5 routerLink="Flipkart">Flipkart</h5>
        <h5 routerLink="id_cards">Id_cards</h5>
        <h5 routerLink="create-user">Create_User</h5>
        
    

       
        
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
